<template>
    <div>
        <v-container fluid>
          <v-row>
            <v-col v-for="game in computedGames" :key="game.id" class="d-flex" cols="3">
                <v-card  class="mx-auto" hover raised elevation="10" :ripple="{ center: true }" color="#140836">
                    <v-img :src="game.image" class="justify-center" @click="callGame(game)" width="325px" height="234px"/>
                    <v-card-title class="py-0 justify-center">{{game.name}}</v-card-title>
                </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-pagination
            v-model="page"
            :length="numOfPages"
            :total-visible="8"
            circle
            color="deep-purple darken-4" 
        />
        <v-snackbar
          v-model="snackbar"
          color='error'
          :timeout=3000
          :top=true
          :vertical=false
        >
          {{ snackbarText }}
          <v-btn
            icon
            x-small
            @click="snackbar = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
    </div>
</template>

<script>

import { router } from '../_helpers';
import { casinoService } from '../_services'

export default {
    name: 'casinoHome',
    data () {
        return {
            games: [],
            snackbar: false,
            snackbarText: '',
            page: 1,
            perPage: 20,
            dialog: false
        }
    },
    methods: {
        callGame (selected) {
            casinoService.callGame(selected.id).then( response => {
                if(response.ok){
                    const game = response.data
                    router.push({name: 'play', params: {game : game } })
                }
                else{
                    this.snackbarText = response.message
                    this.snackbar = true
                }
            }) 
        }
    },
     computed: {
        offset() {
            return ((this.page - 1) * this.perPage)
        },
        limit() {
            return (this.offset + this.perPage)
        },
        numOfPages() {
            return Math.ceil(this.games.length / this.perPage)
        },
        computedGames() {
            return this.games.slice(this.offset, this.limit)
        }
    },
    watch: {
            computedGames: {
                deep: true,
                handler: function () {
                    if (this.offset > this.games.length) {
                       this.page = this.numOfPages
                    }
                }
            }
    },
    created () {
        this.user = JSON.parse(localStorage.getItem('user'))
        casinoService.getGames().then( response => {
          if(response.ok){
            this.games = response.data
          }
          else{
            this.snackbarText = response.message
            this.snackbar = true
          }
        }) 
    }
}
</script>