<style scoped>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
        display: flex;
    }
    .video-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
</style>

<template>
    <v-container fluid>  
        <v-flex xs12 sm12 md7 lg7 class="mx-auto">
            <v-card class="mx-auto my-4" v-if="game" color="#140836">
                <v-card-actions>
                    <v-btn class="mx-2" rounded small color="orange darken-2" to="/prevRoute">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
                <div class="video-container">
                    <iframe width="500" height="300" allowfullscreen="true" style=" border-width:0" frameborder="0" :src="game.uri" scrolling="no">></iframe>
                </div>
            </v-card>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    props: ['game'],
    data () {
        return {  
            prevRoute: null            
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.prevRoute = from
        })
    }
}
</script>