<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card class="mt-8">
        <v-card-title class="headline">
          Login Here
        </v-card-title>
        <v-card-text>
          <form @submit.prevent="login">
            <v-text-field
              v-model="username"
              label="Username"
              color="#5E35B1"
              required
            />
            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              color="#5E35B1"
              required
            />
            <v-btn type="submit" color="#140836">
              Sign In
            </v-btn>
          </form>
        </v-card-text>
        <v-snackbar
          v-model="snackbar"
          color=error
          :timeout=3000
          :top=true
          :vertical=false
        >
          {{ snackbarText }}
          <v-btn
            icon
            x-small
            @click="snackbar = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>

import { router } from '../_helpers';
import { userService } from '../_services';

export default {
  name : 'Login',
  data() {
    return {
      username: '',
      password: '',
      snackbar: false,
      snackbarText: ''
    }
  },
  created () {
        // reset login status
        userService.logout();

        // get return url from route parameters or default to '/'
        this.returnUrl = this.$route.query.returnUrl || '/home';
    },
  methods: {
    login: function () {
      const { username, password } = this
      userService.login(username, password)
                .then(
                    response => {
                      if(response.ok) 
                        router.push(this.returnUrl)
                    },
                    error => {
                        this.snackbarText = error
                        this.snackbar = true
                    }
                )
    }

  }

}
</script>