export * from './user.service';
<template>
  <v-app :style="backgroundStyle">
    <v-app-bar
      app
      color="#140836"
    >
      <div class="d-flex align-center">
        <v-img
          class="shrink mr-2"
          contain
          :src="logo"
          transition="scale-transition"
          width="40"
        />
      </div>
    </v-app-bar>
    <v-content class="py-0">
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      backgroundStyle: { 
        // images are url just for the demo
        backgroundImage: 'url(https://image.freepik.com/free-vector/abstract-violet-pixel-rain-background_23-2148362568.jpg)',
        backgroundSize: 'cover'
      },
      logo: 'https://png2.cleanpng.com/sh/f5ac36cc033361366c23e9a4fbe4d0d2/L0KzQYm3WMIyN5DAfZH0aYP2gLBuTfdidZZ1edY2dnnndbE0hBFubaQyf9N2ZT3mf7B7kv9tdJZ3i59qbnT1f7rrTfFxeJ1uRdZudHHsfH7okPsubZ95feR9YXnxfbb1lL1mfpCyf9N2ZYDkdH7okQAub5JyfeJqZD24cojqgsMyO2I1S6k7NT62Q4aAUMM2OWI6S6YDOUi8RoS3VsY1NqFzf3==/kisspng-gamepad-video-games-game-controllers-android-appli-detail-apk-entertainment-evo-gamepad-app-gamepad-5b7cb313103725.3357035115348989630664.png',
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
